<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.css') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>

   <!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        .input1 {
        width: 480px;
    }
    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .myForm {
        width: auto;}

    </style>

</head>

<body>

    <div id="app">
        

        <div class="myForm" >
            <h2>S-AES</h2>
            <el-form>
                <el-form-item label="明文">
                    <el-input placeholder="请输入明文" class="input1" v-model="plainText"></el-input>
                </el-form-item>

                <el-form-item label="密钥">
                    <el-input placeholder="请输入密钥" class="input1" v-model="key"></el-input>
                </el-form-item>

                <el-form-item label="密文">
                    <el-input placeholder="请输入密文" v-model="cyberText" class="input1">
                    </el-input>
                </el-form-item>

                <el-form-item label="模式">

                    <el-select v-model="myMethod" placeholder="请选择" class="input1">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>

                </el-form-item>

                <el-form-item label="数组展示">
                    {% raw %}
                    <el-input type="textarea" class="input1" v-model="breakOutres.result">
                    </el-input>
                    <p>time: {{ breakOutres.time }}</p>
                    {% endraw %}
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submit">确定</el-button>
                    <el-button @click="clear">清空</el-button>
                </el-form-item>

            </el-form>
        </div>

        
    </div>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                myMethod:'',
                plainText:"",
                cyberText:"",
                asciiText:"",
                asciiCyber:"",
                key:"",
                breakOutres:{"result":[],"time":0.0,},
                options:[{value:"选项1",label:"加密"},
                        {value:"选项2",label:"解密"},
                        {value:"选项3",label:"多重加密"},
                        {value:"选项4",label:"多重解密"},
                        {value:"选项5",label:"暴力破解"},
                        {value:"选项6",label:"ASCII加密"},
                        {value:"选项7",label:"ASCII解密"}]
                
            },
            methods:{

                //加密请求
                encrypt:function(){
                    console.log("发送加密请求")
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/enCrypt",
                        data:{
                            plainText:this.plainText,
                            key:this.key,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.cyberText=Response.data;
                    })

                },
                decrypt:function(){
                    console.log("发送解密请求");
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/deCrypt",
                        data:{
                            cyberText:this.cyberText,
                            key:this.key,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.plainText=Response.data;
                    })
                },

                multiplyEnCrypt:function(){
                    console.log("发送多重加密请求");
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/multiplyEnCrypt",
                        data:{
                            plainText:this.plainText,
                            key:this.key,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.cyberText=Response.data;
                    })
                },

                multiplyDeCrypt:function(){
                    console.log("发送多重解密请求");
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/multiplyDeCrypt",
                        data:{
                            cyberText:this.cyberText,
                            key:this.key,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.plainText=Response.data;
                    })
                },

                breakOut:function(){
                    console.log("发送暴力破解请求");
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/breakOut",
                        data:{
                            cyberText:this.cyberText,
                            plainText:this.plainText,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.breakOutres=Response.data;
                        
                    })

                },
                asciiEnCrypt:function(){
                    console.log("ASCII加密")
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/asciiEnCrypt",
                        data:{
                            key:this.key,
                            plainText:this.plainText,
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        this.breakOutres["result"]=Response.data["result"];
                        
                    })
                },
                asciiDeCrypt:function(){
                    console.log("ASCII解密");
                    axios({
                        method:"POST",
                        url: "http://127.0.0.1:5000/asciiDeCrypt",
                        data:{
                            key:this.key,
                            cyberLst:this.breakOutres["result"],
                        },
                        
                    }).then(Response=>{
                        console.log(Response.data);
                        
                        this.plainText=Response.data;
                        
                    })
                },
                submit:function(){
                    console.log("submit");
                    if(this.myMethod=="选项1"){
                        
                        this.encrypt();
                    }
                    else if(this.myMethod=="选项2"){
                        this.decrypt();
                    }
                    else if(this.myMethod=="选项3"){
                        this.multiplyEnCrypt();
                    }
                    else if(this.myMethod=="选项4"){
                        this.multiplyDeCrypt();
                    }
                    else if(this.myMethod=="选项5"){
                        this.breakOut();
                    }
                    else if(this.myMethod=="选项6"){
                        this.asciiEnCrypt();
                    }
                    else if(this.myMethod=="选项7"){
                        this.asciiDeCrypt();
                    };
                    console.log("finish")
                },
                

                
                
            }

        })


    </script>
</body>

</html>